.grid {
  display: grid;
  border: 2px #A3E4D7 solid;
  width: 1335px;
  height: 1000px;
  grid-template: 1fr 2fr 2fr 2fr 2fr / 2fr 8fr;
	grid-column-gap: 25px;
  background-color: #73C6B6;
}

.box {
  border-radius: 5px;
  grid-template: 1fr 2fr 2fr 2fr 1fr / 2fr 6fr
}

body {
  background-color: #73C6B6;
}

h1.name {
  text-align: center;
  margin-top: 25px;
}

#sq {
  border: 3px solid white;
  margin: 0 auto;  
  padding: 10px;
}

.blank{
  background-color: #73C6B6;
}

#BioHeading {
  text-transform: uppercase;
  color: black;
  margin-top: 5px;
  padding-left: 5px;
  text-align: left;
}

.Biography{
  background-color: #A2D9CE;
  color: black;
  text-align: left;
  margin-top: 5px;
  font-size: 20px;
  padding-left: 15px;
}

.WorkandExp {
  text-transform: uppercase;
  background-color: #A3E4D7;
  color: black;
  text-align: center;
  margin-top: 1px;
}

.Edu {
  text-transform: uppercase;
  background-color: #D1F2EB;
  color: black;
  text-align: center;
  margin-top: 1px;
}

.picture {
  margin-top: 10px;
	height: 250px;
}

#OvalPic {
  height: 180px;
  width: 200px;
  border-radius: 95%;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#contact, #SMedia {
  margin-top: 1px;
  text-transform: uppercase;
  background-color: white;
  color: black;
  text-align: center;
}

.contactinfo{
  background-color: #A3E4D7;
  color: black;
  text-align: left;
  margin-top: 5px;
}

.SM {
  background-color: #D1F2EB;
  color: black;
  text-align: left;
  margin-top: 1px;
}


.empty {
  background-color: #D1F2EB;
}

#Skillheader{
  text-transform: uppercase;
  background-color: #E8F8F5;
  color: black;
  text-align: center;
  margin-top: 1px;
}
.skills {
  text-align: left;
}

.grid-container{
  display: grid;
  grid-template-columns: 200px 200px;
  align-items: center;
  padding-left: 40%;
}

.fa {
  margin: 5px 2px;
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram {
  color: black;
}


.year, .year2, .year3{
  text-align: left;

}

.Sch, .Sch2, .Sch3{
  text-align: right;
}
