.grid {
  display: grid;
  border: 2px #A3E4D7 solid;
  width: 1335px;
  height: 1100px;
  grid-template: 1fr 2fr 2fr 2fr 2fr / 2fr 8fr;
	grid-column-gap: 25px;

  background-color: #73C6B6;
}

.box {
  border-radius: 5px;
  grid-template: 1fr 2fr 2fr 2fr 1fr / 2fr 6fr
}

h1.name {
  text-align: center;
  margin-top: 25px;
}

#sq {
  border: 3px solid white;  
}

.blank{
  background-color: #D4EFDF;
}

.Biblio{
  font-size: 2em;
  background-color: #A2D9CE;
  color: red;
  text-align: center;
  margin-top: 5px;
  font-size: 30px;
}

.WE {
  background-color: #A3E4D7;
  color: red;
  text-align: center;
  margin-top: 5px;
}

.Edu {
  background-color: #D1F2EB;
  color: white;
  text-align: center;
  margin-top: 5px;
}

.picture {
  margin-top: 10px;
	height: 250px;
  border-radius: 95%;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
}

#contact {
  background-color: red;
  color: white;
  text-align: center;
	margin-top: 1px;
}

.contactinfo{
  background-color: #A3E4D7;
  color: white;
  text-align: center;
  margin-top: 5px;
}

.SM {
  background-color: #D1F2EB;
  color: white;
  text-align: center;
  margin-top: 5px;
}

#SMedia{
  background-color: red;
  color: white;
  text-align: center;
	margin-top: 1px;
}

.empty {
  background-color: #E8F8F5;
  color: white;
  text-align: center;
  margin-top: 5px;
}

.skills{
  background-color: #E8F8F5;
  color: red;
  text-align: center;
  margin-top: 5px;
}
